.place__title {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    color: white;
}

@media screen and (max-width: 1023px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 767px) {
    .place__title {
        margin: 0 16px 0 16px;
        max-width: 460px;
        font-size: 32px;
        line-height: 35px;
    }
}