.lead__title {
    max-width: 720px;
    width: 100%;
    margin: 56px auto 0 auto;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    color: white;
}

@media screen and (max-width: 1023px) {
    .lead__title {
        margin: 0 24px 0 24px;
    }
}

@media screen and (max-width: 767px) {
    .lead__title {
        margin: 0 auto;
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
    }
}

@media screen and (max-width: 320px) {
    .lead__title {
        max-width: 288px;
        margin: 0 auto 0 auto;
    }
}