.place__paragraph {
    margin: 0 0 26px 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 163%;
    color: white;
    box-sizing: border-box;
}

.place__paragraph:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
    .place__paragraph {
        max-width: 352px;
        margin-bottom: 27px;
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) {
    .place__paragraph {
        margin: 0 auto 25px auto;
        max-width: 484px;
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }
}


